.about-me{
     padding-top: 70px; 

     h1{
        @include h1(15px);
     }

     p{
        width: 601px;
        font-family: $text;
        font-size: 24px;
        line-height: 120.69%;
        text-align: center;
     }
}

.about-me__wrapper{
        @include wrapper();
        align-items: center;
        text-align: center;
}