body{
    min-width: 1260px;
}
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic);
@import "reset";
@import "var/fonts";
@import "mixins/flex__wrapper.scss";
@import "mixins/h1.scss";


.container{
    width: 1260px;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.hide{
    display: none;
}



@import "header";
@import "about-me";
@import "call";
@import "buy";
@import "product";
@import "modal";
@import "sale";
@import "new";
