.modal{
    display: none;
    position: fixed;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.modal__wrapper{
    padding-top: 35px;
    text-align: center;
    height: 640px;
    background-color: #fff;
}

.modal__info{
    padding-bottom: 60px;

    h1{
        @include h1(8px);
    }

    p{
        font-family: $text;
        font-size: 24px;
        line-height: 120.69%;
        width: 916px;
        margin: 0 auto;
    }
}

.modal__img{
    display: flex;
    justify-content: center;
        .modal__img-item{
            padding-left: 20px;

            &:nth-child(0){
                padding-left: 0;
            }
        }
            p{
                font-family: $text;
                font-size: 24px;
                line-height: 120.69%;

                &:nth-child(2){
                    width: 341px;
                    text-align: left;
                }
            }
                img{
                    margin: 0 auto;
                    padding-bottom: 42px;
                }
}

.modal__phone p{
    @include h1(0px);
    padding-top: 42px;
}

.modal__close{
    position: absolute;
    right: 36px;
}